.form-agreement {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.link {
    color: whitesmoke;
    background-color: #242424;

    margin-left: 0.7rem;
    padding: 0.3rem;
    border-radius: 0.5rem;

    transition: all 0.2s linear;
}

.link:hover {
    color: rgb(214, 10, 10);
}