.random-games {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin: 2rem;
}

.random-games__title {
    text-align: center;
    margin: 0;
    font-weight: 600;
}

.game-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    gap: 1rem;

    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: 2rem;
    scrollbar-color: #242424 transparent;
}