.game-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    width: 100%;

    background-color: black;
    border-radius: 1rem;
}

.game-main-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.game-title {
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
    margin: 0;
}

.genre-tag-table {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 2rem;
}

.vertical-line {
    width: 0.3rem;

    display: inline-block;

    margin-top: 3rem;
    margin-bottom: 1.8rem;
    
    background-color: rgba(214, 10, 10, 0.87);
}

.game-description {
    font-size: 2rem;
    color: whitesmoke;
    text-indent: 2rem;

    padding: 2.5rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.game-description p {
    font-size: 1.5rem;
}