@font-face {
  font-family: "Sclate";
  src: url("./assets/fonts/Sclate.ttf") format("truetype");
}

:root {
  --primary-color: rgba(214, 10, 10, 0.87);
  --background-color: #242424;
  --text-color: rgb(255, 255, 255);
  --border-color: #bdbdbd;
  --hover-color: rgba(214, 10, 10, 0.87);
  --font-family-base: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-family-logo: "Sclate";

  --button-padding-horizontal: 1rem;
  --button-line-height: 2rem;
  --input-width: 37rem;
  --input-height: 2.5rem;

  --border-radius: 0.25rem;

  /* --------------- FONTS ------------- */
  --font-size-base: 1rem; 
  --font-size-large: 1.25rem;
  --font-size-small: 0.875rem; 

  /* --------------- Breakpoints ------------- */
  --breakpoint-big: 1084px;
  --breakpoint-medium: 659px;
  --breakpoint-small: 398px;
}

body {
  color: var(--primary-color);
  background-color: var(--background-color);
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
}

main {
  padding: 3rem;
  padding-top: 8rem;
}

.white {
  color: var(--text-color);
}

.header-title,
.header-text,
.important-text {
  font-family: var(--font-family-logo);
  color: var(--text-color);
}

button {
  color: var(--text-color);
  background-color: var(--background-color);
  background-clip: padding-box;

  padding-left: var(--button-padding-horizontal);
  padding-right: var(--button-padding-horizontal);

  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);

  line-height: var(--button-line-height);
  cursor: pointer;

  transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

button:hover {
  color: var(--hover-color);
  border-color: var(--hover-color);
}

input,
select {
  color: var(--text-color);
  background-color: var(--background-color);
  background-clip: padding-box;

  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  padding-left: 0.5rem;
  padding-right: 0.5rem;

  height: var(--input-height);
}

input:invalid {
  border-color: var(--hover-color);
  color: var(--hover-color);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(23%) sepia(77%) saturate(5905%) hue-rotate(357deg)
    brightness(96%) contrast(94%);
  cursor: pointer;
}

input[type="file"] {
  padding-top: 1rem;
}

textarea {
    resize: none;

    padding: 0.5rem;
    border-radius: 0.5rem;

    scrollbar-width: thin;
    scrollbar-color: black transparent;

    background-color: #242424;
    color: whitesmoke;
}

/* Адаптивность */

@media (max-width: var(--breakpoint-big)) {
  h1 {
    font-size: 2rem;
  }

  body {
    font-size: var(--font-size-large);
  }
}

@media (max-width: var(--breakpoint-medium)) {
  h1 {
    font-size: 1.8rem;
  }

  body {
    font-size: var(--font-size-small);
  }

  button {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    line-height: 1.8rem;
  }

  input,
  select {
    height: 2rem;
  }
}

@media (max-width: var(--breakpoint-small)) {
  h1 {
    font-size: 1.5rem;
  }

  body {
    font-size: calc(var(--font-size-small) - 0.125rem);
  }

  button {
    width: 90%;
    max-width: none;
    padding: 0.5rem 0.75rem;
    font-size: var(--font-size-small);
  }

  input,
  select {
    height: 1.8rem;
  }
}
