@font-face {
    font-family: "Sclate";
    src: url('./assets/fonts/Sclate.ttf');
}

body {
	color: rgba(214, 10, 10, 0.87);
	background-color: #242424;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

main {
	padding: 3rem;
	padding-top: 8rem;
}

.white {
	color: whitesmoke;
}

button {
    color: rgb(255, 255, 255);
    background-color: #242424;
    background-clip: padding-box;

    padding-left: 1rem;
    padding-right: 1rem;

    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;

    line-height: 2rem;
}

button:hover {
    cursor: pointer;
    color: rgba(214, 10, 10, 0.87);
    border-color: rgba(214, 10, 10, 0.87);
}