@font-face {
    font-family: "Sclate";
    src: url('./assets/fonts/Sclate.ttf');
}

body {
	color: rgba(214, 10, 10, 0.87);
	background-color: #242424;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

main {
	padding: 3rem;
	padding-top: 8rem;
}

.white {
	color: whitesmoke;
}

button {
    color: rgb(255, 255, 255);
    background-color: #242424;
    background-clip: padding-box;

    padding-left: 1rem;
    padding-right: 1rem;

    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;

    line-height: 2rem;
    cursor: pointer;

    transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

button:hover {
    color: rgba(214, 10, 10, 0.87);
    border-color: rgba(214, 10, 10, 0.87);
}

input, select {
    color: rgb(255, 255, 255);
    background-color: #242424;
    background-clip: padding-box;

    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    padding-left: 0.5rem;
    padding-right: 0.5rem;

    width: 37rem;
    height: 2.5rem;
}

input:invalid {
    border-color: rgba(214, 10, 10, 0.87);
    color: rgba(214, 10, 10, 0.87);
}

input[type='date']::-webkit-calendar-picker-indicator {
    filter: invert(23%) sepia(77%) saturate(5905%) hue-rotate(357deg) brightness(96%) contrast(94%);
    cursor: pointer;
}

input[type='file'] {
    padding-top: 1rem;
}

textarea {
    resize: none;

    padding: 0.5rem;
    border-radius: 0.5rem;

    scrollbar-width: thin;
    scrollbar-color: black transparent;

    background-color: #242424;
    color: whitesmoke;
}