header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: black;
  position: fixed;
  width: 100vw;
  z-index: 10;
  padding: 0 2rem;
}

.header-title {
  display: flex;
  align-items: center;
  font-family: "Sclate";
  white-space: nowrap;
}

.header-logo {
  width: 6rem;
  margin-right: 1rem;
  flex-shrink: 0;
}

.header-text {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
}

.header-text-white {
  color: white; /* Белый текст */
}

.header-text-red {
  color: rgba(214, 10, 10, 0.87); /* Красный текст */
}

@media screen and (max-width: 1084px) {
  .header-logo {
    width: 5rem;
  }

  .header-text {
    font-size: 1.8rem;
  }

  header {
    padding: 0 1.5rem;
  }
}

@media screen and (max-width: 659px) {
  .header-logo {
    width: 4rem;
  }

  .header-text {
    font-size: 1.5rem;
  }

  header {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 398px) {
  .header-logo {
    width: 3rem;
  }

  .header-text {
    font-size: 1.2rem;
  }

  header {
    padding: 0 0.5rem;
  }
}
