.game-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 22rem;

    background-color: #242424;
    border-radius: 1rem;

    cursor: pointer;
}

.game-card__image {
    width: 100%;
    border-radius: 1rem;
}

.game-card__image:hover {
    animation: image_hover 0.35s linear forwards;
}

@keyframes image_hover {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.55;
    }
}

.game-card__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 1rem;
}

.game-card__info h1 {
    margin: 0;
}

.game-card__title {
    color: whitesmoke;
}

.game-card__title:hover {
    animation: title_hover 0.17s linear forwards;
}

@keyframes title_hover {
    from {
        color: whitesmoke;
    }
    to {
        color: rgb(214, 10, 10);
    }
}

.game-card__price {
    text-align: center;

    color: #242424;
    background-color: rgb(214, 10, 10);

    border-radius: 0.5rem;
    height: 2.5rem;
}