.wrap-list-container {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

    padding: 2rem;;
}

.wrap-list-container h2 {
    margin: 0;
    font-size: 2rem;
}

.wrap-list {
    list-style: none;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.7rem;
}

.wrap-list li {
    display: inline-block;

    background-color: #242424;
    color: whitesmoke;

    padding: 0.4rem;
    border-radius: 0.5rem;

    transition: all 0.2s linear;
}

.wrap-list li:hover {
    scale: 1.1;
}